<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="compgen_project.editors.COMPGENEditor"
            name="COMPGEN Editor"
            icon="icons/sample.png"
            extensions="cpg"
            class="compgen_project.editors.COMPGENEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
      </editor>
   </extension>

</plugin>
